

html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
	margin: 0;
}

#header {
	height: 0px; 
}

.navbar {
	margin: 0;
	border: none;

}

.navbar .navbar-cont {
	padding-top: 5px;
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-logo{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% 100%;
	width: 182px;
	height: 48px; 
	background-image: url(../images/logo2.png);
}

.navbar-list{
	width: 600px;
	height: auto;
	padding: 24px 0;
}
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navlist li.nav-left {float: left;}
.navlist li.nav-right{float: right;}

.navlist li a {
    display: block;
    color: #878889;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 14px helvetica;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.navlist li a:hover:not(.active) {
	color: white;
	background-color: #0000b7;

}

.navlist li a.active {
	color: white;
	background-color: #4CAF50;
}

@media screen and (max-width: 600px){
    .navlist li.nav-left ,.navlist li.nav-right {float: none;}
}

.pk-title{
	color: #0000b7;
	font: 22px helvetica;
}


section
{
	padding-top: 10px;
	padding-bottom: 20px;

}

#Parking
{
	display: block;
	border: 1px solid blue;
	
}

#action
{
	margin: 0px;
}

#action button
{

	width: 60%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	color: #0000b7;
	font: 16px helvetica;
	cursor: pointer;
	border: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}

#action button.save-button{
	color: #4CAF50;
}

#action button:hover {
	background-color: #0000b7;
	color: white;
}

#action button.save-button:hover{
	background-color: #4CAF50;
	color: white;
}

#action input[type=text]{
	border: 3px solid grey;
	width: 60%;
	margin-top: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#action input[type=text]:focus{
	border: 5px solid #0000b7;
}