

html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
	margin: 0;
}

#header {
	height: 0px; 
}

.navbar {
	margin: 0;
	border: none;

}

.navbar .navbar-cont {
	padding-top: 5px;
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-logo{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% 100%;
	width: 182px;
	height: 48px; 
	background-image: url(../images/logo.png);
}

.navbar-list{
	width: 600px;
	height: auto;
	padding: 24px 0;
}
.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navlist li.nav-left {float: left;}
.navlist li.nav-right{float: right;}

.navlist li a {
    display: block;
    color: #878889;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 14px helvetica;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.navlist li a:hover:not(.active) {
	color: white;
	background-color: #0000b7;

}

.navlist li a.active {
	color: white;
	background-color: #4CAF50;
}

@media screen and (max-width: 600px){
    .navlist li.nav-left ,.navlist li.nav-right {float: none;}
}

.pk-title{
	color: white;
	font: 22px helvetica;
	text-align: center;
	margin-bottom: 25px; 
}


section
{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.home{

	width: 318px;
	height: 159px;
	margin: 50px auto 0px;
	background-image: url(../images/const.jpeg);
}

#Parking
{
	display: block;
	border: 1px solid blue;
	
}

#action
{	
	margin-left: 0px;
	padding-left: 10px;
	padding-bottom: 20px;
	border-radius: 4px;
    background: -moz-linear-gradient(top,   #eee 0%,#eee 70%,#0000b7 70%,#0000b7 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #eee 0%,#eee 70%,#0000b7 70%,#0000b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,   #eee 0%,#eee 70%,#0000b7 70%,#0000b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,   #eee 0%,#eee 70%,#0000b7 70%,#0000b7 100%); /* IE10+ */
    background: linear-gradient(to top,   #eee 0%,#eee 70%,#0000b7 70%,#0000b7 100%); /* W3C */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}

#action button
{

	width: 60%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: none;
	color: #0000b7;
	font: 16px helvetica;
	cursor: pointer;
	border: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}

#action button.save-button{
	color: #4CAF50;
}

#action button:hover {
	background-color: #0000b7;
	color: white;
}

#action button.save-button:hover{
	background-color: #4CAF50;
	color: white;
}

#action input[type=text]{
	border: 3px solid #bbb;
	width: 60%;
	margin-top: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#action input[type=text]:focus{
	border: 3px solid #0000b7;
}

.form-newpklot{
	width: 50%;
	padding: 35px;
	margin: 20px auto 0px;
	border-radius: 2px;
	background-color: #eee;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.form-newpklot input[type=text]{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;	
    box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.form-newpklot input[type=text]:focus{
	border-color: #0000b7;
}

.form-newpklot button{
	width: 30%;
	padding: 15px;
	margin: 10px auto;
    display: inline-block;
    border-radius: 2px;	
    box-sizing: border-box;
    border: none;
    background-color: #0000b7;
    font: 16px helvetica;
    color: white;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.form.newpklot input[type=submit]:hover{
	background-color: #000072;
}

.form.newpklot input[type=file]{
	width: 30%;
	margin: 10px auto;
    display: inline-block;
    border-radius: 2px;	
    box-sizing: border-box;
    background-color: #0000b7;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#pklot-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
	padding: 35px;
	margin: 20px auto 0px;
	border-radius: 2px;
	background-color: #eee;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#pklot-table table{
	margin: 5px auto 0px;
	
}
#pklot-table td, #pklot-table th {
	text-align: center;
    border: none;
    padding: 8px;
    font: helvetica;
}
#pklot-table tr:nth-child(even){background-color: white;}

#pklot-table tr:hover {background-color: #c4dcff;}

#pklot-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0000b7;
    color: white;
}

#pklot-table button {
	width: 100%;
	height: 100%;
	background: none;
	color: #0000b7;
	font: helvetica;
	cursor: pointer;
	border: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#pklot-table button:hover {
	background-color: #0000b7;
	color: white;
}